footer {
	background: #828cde;
}

footer .wrapper {
	display: flex;
	width: 100%;
	padding-top: 37px;
	padding-bottom: 43px;
	position: relative;
}

footer .wrapper .center {
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 10px;
}

footer .wrapper .center h5 {
	color: #fff;
}

footer .wrapper .center .line {
	color: white !important;
	width: 2px;
	height: 19px;
}

footer .wrapper .right {
	position: absolute;
	right: 72px;
	color: white;
}
