.cyprus {
	background: linear-gradient(180deg, #fefc9e -47.89%, #fdbfa3 126.42%);
}

.cyprus .wrapper {
	padding-top: 80px;
	padding-bottom: 140px;
}

.cyprus .wrapper .text {
	display: flex;
	flex-direction: column;
	max-width: 580px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	gap: 10px;
}

.cyprus .wrapper .cards {
	display: flex;
	max-width: 1200px;
	margin: 0 auto;
}

.cyprus .wrapper .cards .card {
	max-width: 280px;
	margin: 0 auto;
	position: relative;
	margin-top: 60px;
}

.cyprus .wrapper .cards .money {
	background: linear-gradient(180deg, #828cde -21.43%, #6d31d0 201.93%);
}

.cyprus .wrapper .cards .sun {
	background: linear-gradient(66.27deg, #fe6f2d -10.45%, #ffd059 76.78%);
}

.cyprus .wrapper .cards .users {
	background: linear-gradient(75.69deg, #828cde -12.62%, #00b8c3 103.26%);
}

.cyprus .wrapper .cards .home {
	background: linear-gradient(
		134.65deg,
		rgba(255, 185, 175, 0.3) -3.89%,
		#a651fb 94.34%
	);
}

.cyprus .wrapper .cards .card .img {
	max-width: 150px;
	max-height: 150px;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 800px;
	display: flex;
	position: relative;
	left: 50%;
	transform: translate(-50%);
}

.cyprus .wrapper .cards .card .img img {
	max-width: 100px;
	max-height: 100px;
	width: 100%;
	height: 100%;
}

.cyprus .wrapper .cards .card .card-text {
	text-align: center;
}

.cyprus .wrapper .cards .card .card-text h4 {
	color: var(--color-pam-main);
	padding-top: 34px;
	padding-bottom: 2px;
}
