.partners .wrapper {
	padding-top: 77px;
	padding-bottom: 80px;
}

.partners .wrapper h2 {
	text-align: center;
	padding-bottom: 52px;
}

.partners .wrapper .members {
	display: flex;
	max-width: 1180px;
	margin: 0 auto;
	gap: 20px;
}

.partners .wrapper .members .icon {
	overflow: hidden;
	width: 180px;
	height: 66px;

	display: flex;
	justify-content: center;
	align-items: center;
}

.partners .wrapper .members .icon img {
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
	width: auto;
	height: auto;
}
